
body {
  height: 100vh;
  width: 100vw;
  margin:0;
  background-color:white;
  color: navy; 
}

.text-design {
  font-size: 18px;
}

#thank-you {
  display: none;
}


@media (min-width: 480px) {
  
    .etc-content {
      display: flex;
    }
}


.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
} 


.container {
  height:100%;
  width:100%;
  margin: 0 auto;
  max-width: 1500px;
  font-family: 'Gayathri', cursive;
  font-size: 2.5em;
  text-shadow: 2px 2px grey;
  background-image: url("./images/4683.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, top;
}

.centered {
font-size: 70px;
text-align: center;
padding-top: 125px;
color: #00004d;
}

.bottom-right {
  font-size: 30px;
  text-align: right;
  padding-right: 80px;
  color: #00004d;
}

.bottom-left {
  text-align: right;
  padding-right: 80px;
  font-size: 30px;
  color:#00004d;
}

form {
  font-family: "Gayathri";
}

.footer {
  position: absolute;
}

#untitled {
  display: block;
  margin:0 auto;
}

.image-container {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.image-container,.prev:hover,.next:hover {
  color:#00004d;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  
}

a {
  text-decoration: none;
}

i {
  color: #00004d;
}

i:hover {
  
  color: #1aff1a;
  transition: 0.2s ease-in-out;
}

#thank-you {
  color:#ff0066;
  font-family: 'Gayathri';
  font-size: 25px;
  text-align: center;
 
}

#image {
  width: 100%;
}

#artist {
  border: 7px solid orange;
  display: block;
  margin:0 auto;
  width: 400px;
  height: 400px;
}

h2 {
  text-align: center;
  font-family: Gayathri;
  color: #00004d;
}

.artist-info {
  font-family: Gayathri;
  color:#00004d;
  
  
}

.home {
  font-family: Gayathri;
  text-align: center;
  
}






















